.avatar-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: none;
    margin: 0 10px 30px 0;
    transition: all .3s ease;
}
.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.avatar-wrapper .profile-pic {
    transition: all .3s ease;
    object-fit: cover;
    max-height: 100%!important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.avatar-wrapper .file-upload {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}
.avatar-wrapper .profile-pic:after {
    font-family: "Material Design Icons";
    content: "\F00B";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 120px;
    position: absolute;
    font-size: 60px;
    background: #f0f0f0;
    color: #aaa;
    text-align: center;
}
.upload .upload-draggable {
    background-color: #fff;
}
.card {
    border-radius: 5px;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
.slide-fade-right-enter-active {
    transition: all .5s ease;
  }
  .slide-fade-right-leave-active {
    transition: all .0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-right-enter, .slide-fade-right-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(-10px);
    opacity: 0;
  }
  [v-cloak] {display: none}